[user]
	name = Brian Quinn
	email = brianjamesquinn1@gmail.com
[merge]
	tool = vimdiff
	conflictstyle = merge
[diff]
	tool = vimdiff
[difftool]
	prompt = true
[mergetool]
	prompt = true
[pull]
	rebase = true
